{erl_opts, [debug_info]}.

{deps, [{gen_pnet, {git, "https://github.com/joergen7/gen_pnet.git", {branch, "master"}}}]}.


{profiles,
 [{test, [{cover_enabled, true},
 	  {eunit_opts, [verbose]}]}]}.

{dialyzer, [{warnings, [unmatched_returns,
                        error_handling,
                        underspecs]},
            {plt_extra_apps, [gen_pnet]}]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{project_plugins, [rebar3_efmt]}.

